.movementsContainer {
  margin: 0.5rem;
  padding: 0.5rem;
  border: 0.25rem solid var(--secondaryColor);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
}
.movementsTitle {
  font-weight: bold;
  padding: 0 0.5rem;
  color: var(--primaryTextColor);
}
.movementsList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.movementListItem {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0.125rem solid var(--primaryColor);

  flex-direction: column;
}

.expense {
  background-color: var(--expenseColor);
}
.income {
  background-color: var(--incomeColor);
}
.savings {
  background-color: var(--savingsColor);
}

.dateAndImageContainer {
  min-width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  gap: 0.25rem;
}

.categorieImage {
  border-radius: 50%;
}

.descriptionContainer {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.valueAndButtonsContainer {
  min-width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-weight: bold;
}

.cardButtons {
  text-align: center;
}

.movementButton {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
}
.movementButton:hover {
  cursor: pointer;
}

.movementsListControls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.filterButtonsContainer {
  display: flex;
  align-items: center;
  gap: 0.125rem;
}

.filterButton {
  padding: 0.125rem;
  border-radius: 5px;
  padding: 0.25rem;
  border-color: var(--primaryColor);
  font-size: 0.8rem;
}
.filterButton:hover {
  cursor: pointer;
}
.selectedFilter {
  background-color: var(--primaryColor);
}

.paginationControls {
  display: flex;
  align-items: center;
  gap: 0.125rem;
}

.paginationState {
  padding: 0.125rem;
  margin: 0.25rem;
  color: var(--primaryTextColor);
  font-size: 0.8rem;
}
.paginationButton {
  padding: 0.125rem;
  border-radius: 5px;
  padding: 0.25rem;
  border-color: var(--primaryColor);
  font-size: 0.8rem;
}

.paginationButton:hover {
  cursor: pointer;
}
