.newMovementContainer {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 0.5rem;
  border: 0.25rem solid var(--secondaryColor);
  border-radius: 0.5rem;
  color: var(--primaryTextColor);
}

.newMovementTitle {
  font-weight: bold;
  padding: 0 0.5rem;
  color: var(--primaryTextColor);
}

.dateAndValueContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 0.5rem;
}
.dateAndValueContainer label input {
  margin: 0.25rem;
}
.movementTypesContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0.5rem;
  gap: 0.5rem;
}

.movementTypesContainer label input {
  margin: 0.25rem;
}

.categoriesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 0.5rem;
}
.categoriesContainer label select {
  margin: 0.25rem;
}

.descriptionAndButtonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
}
.descriptionTextArea {
  width: calc(75vw - 5rem);
  margin: 0.25rem;
}

.submitButton {
  background-color: var(--primaryColor);
  width: 3rem;
  aspect-ratio: 1/1;
  padding: 0.25rem;
  margin: 0.5rem;
  font-size: 1.5rem;
  color: var(--secondaryTextColor);
  font-weight: bold;
  border: 0.25rem solid var(--secondaryColor);
  border-radius: 50%;
}
.submitButton:hover {
  cursor: pointer;
}
